<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        align-items: center;
        background-color: #e2e7b5;
        }
        .link{
            text-align: center;
        }

        h1{
            text-align: center;
        }
        .Generated{
            text-align: center;/
        }
        .content {
         max-width: 550px;
         margin: auto;  
         border: solid 2px black ;
         padding: 20px;
        }
        th, td {
         padding: 10px;
         text-align: center;
         background-color: #96D4D4;
        }
        table, th, td {
         border: 1px solid white;
         border-collapse: collapse;
        }
    </style>
</head>
<body>
    <!-- SERVER SIDE RENDERING WITH EJS -->
    <div class="content">
        <div class="Generated">
            <h1> URL Shortner</h1>
         <% if (locals.id) { %>
        <h4>URL Generated :</h4><h4>http://localhost:1001/url/<%= id %></h4>
        <%}%>
        </div>
    
        <br>
    <div class="link">
        <form method="POST" action="/url">
            <label> Enter Your original Url =>   </label>
            <input type="text" name="url" placeholder="https://example.com">
            <button type="submit">Generate</button>
        </form>
    </div>
    <br>

    
    <div>
        <%if(locals.urls){%>
            <table>
                <thead>
                    <th>S.No</th>
                    <th>ShortID</th>
                    <th>Redirect</th>
                    <th>Clicks</th>
                </thead>
                <tbody>
                    <% urls.forEach((url,index) => { %>
                        <tr>
                        <td><%= index + 1  %></td>
                        <td><%= url.shortId %></td>
                        <td><%= url.redirectURL %></td>
                        <td><%= url.visitHistory.length %></td>
                    </tr>
                    <% }) %>

                </tbody>
            </table>

            <%}%>
    </div>


</div>


</body>
</html>